<table class="table table-striped">
  <thead>
  <tr>
    <th>Departments</th>
  </tr>
  </thead>
  <div class="table-scrollable">
  <tbody>
  <% @departments.each do |f| %>
    <tr>
      <td><%= f.name %></td>
    </tr>
  <% end %>
  </tbody>
  </div>
</table>
